.main-input {
  display: block;
  width: 100%;
  max-width: 28rem;
  color: var(--text-color-2);
}
.main-input__placeholder {
  font-size: 0.8rem;
  margin-left: var(--space-1);
}
.main-input__input {
  font-size: 1rem;
  color: inherit;
  width: 100%;
  padding: var(--space-2);
  outline: transparent;
  border: 0;
  border-radius: var(--radius-1);
  background: linear-gradient(to right, var(--accent-color-2), var(--accent-color-1)), var(--bg-color-1);
  background-repeat: no-repeat;
  background-size: 0 0;
  background-position: bottom center;
  transition: background-size .2s ease;

  &:focus {
    background-size: 100% var(--space-1);
  }
}
