:root {
  // accent colors
  --accent-color-1: #00f2fe;
  --accent-color-2: #339cf8;
  // background colors
  --bg-color-1: #fff;
  --bg-color-2: #f4f4f5;
  --bg-color-3: #ededed;
  --bg-color-4: #6a6a6a;
  // text colors
  --text-color-1: #fff;
  --text-color-2: #363636;
  --text-color-3: #171717;
  // error colors
  --text-error-color: #b91c1c;
  --bg-error-color: #fee2e2;
  // spaces
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 3rem;
  // rediuses
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;
  --radius-3: 1rem;
  // box-shadow
  --shadow-1: 0px 0.8px 2px rgba(0, 0, 0, 0.032),
    0px 2.7px 6.7px rgba(0, 0, 0, 0.048), 0px 12px 30px rgba(0, 0, 0, 0.08);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  // --shadow-3:inset 0 0 0 1px rgba(0, 0, 0, 0.06);
}
